* {
  padding: 0;
  margin: 0;
  background-color: aqua;
  box-sizing: border-box;
}

/* body {
  background-color: aliceblue;
} */

section {
  height: 600px;
  width: 640px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 10%;
}

div {
  width: calc(25% - 10px);
  height: calc(33.3% - 10px);
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
}

.back,
.front {
  border-radius: 15%;
  background-color: blueviolet;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  backface-visibility: hidden;
}

.card:active {
  transform: scale(0.97);
  transition: transform.2s;
}

.card.flip{
  transform: rotateX(180deg);
  transition: transform.2s;
}

.front{
  transform: rotateX(180deg);
  transition: transform.2s;
}